name: Gradle Build
on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@4.1.1
      - uses: gradle/wrapper-validation-action@v1
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: 'temurin'

      - name: Run Gradle
        uses: gradle/gradle-build-action@v2.4.2
        with:
          gradle-version: wrapper
          arguments: clean build
      - uses: actions/upload-artifact@v4
        with:
          name: TownyMenus
          path: build/libs/TownyMenus-*.jar
